.orbit-container {
  position: relative;
}

.orbit-ring {
  border-radius: 50%;
  border: 2px solid #8b5cf6;
  width: 100%;
  height: 100%;
  position: absolute;
}

.orbit-item {
  transform: translate(-50%, -50%);
  animation: orbit 10s linear infinite;
}

.orbit-item-0 { animation-delay: 0s; }
.orbit-item-1 { animation-delay: 2s; }
.orbit-item-2 { animation-delay: 4s; }
.orbit-item-3 { animation-delay: 6s; }
.orbit-item-4 { animation-delay: 8s; }

@keyframes orbit {
  0% {
    transform: rotate(0deg) translateX(140px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(140px) rotate(-360deg);
  }
}
